header {
  text-align: center;
  margin: 20px 0;
}

.nav-item {
  text-decoration: none;
  padding: 0 8px;
  color: #cccccc;
  font-weight: 500;
}

.is-active {
  color: white;
  font-weight: 600;
}

button {
  background-color: #1c88bf;
  margin: 0 30px;
  padding: 5px 10px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}
